html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

.container {
	width: 1300px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #f5f5f5;
}

.header {
	font-size: 60px;
	color: #000;
	background-color: #ddd;
}

.navbar {
	background-color: #000;
}

.navbar-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding: 0;
}

.navbar-menu li a {
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 10px 5px;
	color: #fff;
}


.input_second {
	height: 30px;
	width: 80%;
	border: none;
	background-color: rgb(174, 149, 149);
	border-bottom: 1px solid black;
}

.btn-group {
	display: flex;
	justify-content: space-between;
}


.footer {
	margin-top: 30px;
	color: #000;
	height: 40px;
	background: #284960;
	color: #fff;
	text-align: center;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.btn {
	height: 40px;
	width: 90px;
	margin: 10px 15px 10px 0;
	border-radius: 5px;
	border: 1px solid #ddd;
	cursor: pointer;

}

table {
	border: 0.5px solid #f3eeee;
	width: 100%;
}


.row {
	text-align: center;
	color: #000;
	background-color: #ddd;
}


.row1 {
	color: #000;
	font-size: 20px;
	text-align: center;

}

/*th:nth-child(1) {
	width: 30px;
}
*/

.main {
	max-width: 100%;
	margin: auto;
	background-color: rgb(227 227 227);
	padding-left: 80px;
}

.main h2 {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-variant: small-caps;
}

.type {
	padding: 10px 10px;
	background-color: rgb(227 227 227);
}

.input_submit a {
	text-decoration: none;
	color: black;
}

.btn_delete {
	background-color: red;
	color: white;
	/* border: none; */
	padding: 5px 10px;
	border-radius: 5px;
}

.btn_edit {
	padding: 5px 15px;
	border-radius: 5px;
}


.notify_success {
	height: 40px;
	width: 35%;
	background-color: #40b52be0;
	color: #fff;
	line-height: 40px;
	padding-left: 14px;
	border-radius: 3px;
}


/*======Main-item========*/
.main-menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.main-item {
	border: 1px solid #ddd;
	text-align: center;
}
.main-title {
	margin: 0 0 10px 10px;
}

.main-title a {
	color: #bf3e3e;
	text-decoration: none;
}

.main-title a:hover {
	text-decoration: underline;
}

.main-price {
	margin-left: 10px;
}

.body_main {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 2fr 1fr;
}
.body_mainct {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 3fr 1fr;
}

/*======== Form Login ========*/

.login-title {
	font-size: 26px;
	margin: 10px;
}
.login-name, .login-pwd {
	font-size: 20px;
	color: #2b797c;
	margin: 8px 0;
}

input[type="text"], input[type="password"] {
	height: 25px;
	padding-left: 5px;
}

#filter-input {
	height: 30px;
	padding-left: 5px;	
}
input[type="checkbox"] {
	margin: 15px 5px 20px 0;
}

input[type="submit"] {
	height: 25px;
	width: 100px;
	color: #fff;
	background-color: #ff6b02;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.login-menu li a {
	color: #000;
	text-decoration: none;
}
.login-menu li a:hover {
	text-decoration: underline;
}


/*======== Danh Muc ==========*/
.cate-title {
	font-size: 26px;
    margin: 10px;
}
.cate-menu {
	padding-left: 20px;
}

.cate-menu li a {
	display: block;
	color: #000;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 0;
}
.cate-menu li a:hover {
	text-decoration: underline;
	color: #2b797c;
}

/*======== Top List 10==========*/
.top-title {
	font-size: 20px;
    margin: 10px;
}

.box1 {
	display: flex;
	align-items: center;
}
.top-image img {
	border: 1px solid rgb(155, 80, 80);
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 2px;
}

.top-item_title a {
	font-size: 18px;
	color: #000;
	text-decoration: none;
}
	

/*====== Product Detail======*/
.product-info {

}

.product-price {
	color: #371ec1;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
}
.product-img {
	text-align: center;
}
.product-img img{
	max-width: 100%;
	height: 200px;
	padding: 10px 5px;	
}

.product-desc p{
	font-size: 17px;
	line-height: 24px;
	margin: 10px 20px;
}

.item {
	border: 1px solid gray;
	padding: 5px;
}

.price_product {
	font-weight: bold;
	display: block;
}

.name_product {
	font-weight: bold;
}

.box {
	border: 1px solid gray;
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}


.main-image {
	width: 200px;
	/*height: 100%;*/
	height: 200px;
}


.main-type {
	font-size: 18px;
    color: #8e50bd;
    text-align: center;
}

.row_product {
	border: 1px solid gray;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.title_row {
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	background-color: #b5b5b5;
	color: #fff;
}

.img_row {
	width: 200px;
	height: 200px;
	padding: 20px;
	display: block;
	margin: auto;
}

.img_products {
	width: 300px;
	height: 100%;
	display: block;
	margin: auto;
}

.body_product {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}


table {
	border: 0.5px solid #f3eeee;
}

h2 {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-variant: small-caps;
}

.type_desc {
	width: 300px;
}

.type_name {
	width: 100px;
}

.main {
	max-width: 100%;
	margin: auto;
	background-color: rgb(227 227 227);
	padding-left: 80px;
}

.main h2 {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-variant: small-caps;
}

.input_second {
	width: 80%;
	height: 36px;
	border: none;
	background-color: rgb(208 222 225);
	border-bottom: 1px solid black;
	padding-left: 10px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #957575;
}

.input_mota {
	width: 80%;

	border: none;
	background-color: rgb(208 222 225);
	border-bottom: 1px solid black;
	padding-left: 10px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #957575;
}

.text-area {
	font-size: 16px;
}

p {
	font-size: 22px;
}

.text_input {
	padding-bottom: 10px;

}

button {
	height: 30px;
	width: 90px;
}

.option_dm {
	width: 50px;
	padding: 10px;
}

.select_op {
	width: 81%;
	height: 36px;
	border: none;
	height: 30px;
	outline: none;
	padding-left: 10px;
}

.btn {
	width: 90px;
	border-radius: 5px;
}

.btn_delete {
	background-color: red;
	color: white;
	/* border: none; */
	padding: 5px 10px;
	border-radius: 5px;
	margin: auto;
	border: 1px solid #ddd;
}

.btn_edit {
	padding: 5px 15px;
	margin: auto;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.select-product {
	height: 31px;
	width: 100px;
}

#btn-submit_product {
	height: 31px;
	width: 70px;
	color: #fff;
	background-color: #ff6b02;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


